rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own surveys
    match /surveys/{surveyId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.authorId;
    }

    // Allow anyone to read a survey
    match /surveys/{surveyId} {
      allow get: if true;
    }

    // Allow anyone to create a response
    match /responses/{responseId} {
      allow create: if true;
    }

    // Allow users to read responses for their own surveys
    match /responses/{responseId} {
        allow read: if request.auth != null && get(/databases/$(database)/documents/surveys/$(resource.data.surveyId)).data.authorId == request.auth.uid;
    }
  }
}
